extends baseSite.pug
block style
  link(rel='stylesheet', href='https://unpkg.com/aos@2.3.1/dist/aos.css')
  link(href='/static/style/fontArvo.css' rel='stylesheet')
  link(href='/static/style/fontQuickSand.css' rel='stylesheet')
  link(href='/static/style/tailwind.min.css' rel='stylesheet')
  link(href='/static/style/homePageStyle.css' rel='stylesheet')
  link(href='/static/style/featuresPageStyle.css' rel='stylesheet')
  title Features 
block content
  section.section-in-features-page-containing-all-features
    .div-containing-features-in-features-page.class-of-div-containing-features-in-features-page
      .box.one.first-box
        div.div-having-content-of-features
          p.para-having-heading WebApp
          p.para-having-second-heading Calendar is a WebApp
          p.para-having-main-text-of-features Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus nemo laborum recusandae asperiores quae, corrupti voluptates fugiat quam quo officia.
      .box.four.sixth-box
        
        div.div-having-content-of-features
          p.para-having-heading Datewise Storage
          p.para-having-second-heading Lorem ipsum dolor sit amet consectetur.
          p.para-having-main-text-of-features Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ea saepe at unde deserunt, quidem odio minus eaque exercitationem quasi.
      .box.one.third-box
        
        div.div-having-content-of-features
          p.para-having-heading Book Appointments
          p.para-having-second-heading Lorem ipsum dolor sit amet.
          p.para-having-main-text-of-features Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias tempora itaque dicta perspiciatis ratione neque minus optio, eveniet, iste nam, veritatis consectetur pariatur?
      .box.three.fourth-box
        
        div.div-having-content-of-features
          p.para-having-heading  Share documents
          p.para-having-second-heading  Lorem ipsum dolor sit amet.
          p.para-having-main-text-of-features Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia adipisci facilis assumenda. Cupiditate temporibus aspernatur, ullam, atque nulla harum quia, velit ab eos voluptatem voluptas.
    .div-containing-features-in-features-page.class-of-div-containing-features-in-features-page
      .box.five.fifth-box
        
        div.div-having-content-of-features
          p.para-having-heading Life Long
          p.para-having-second-heading Lorem ipsum dolor sit amet.
          p.para-having-main-text-of-features Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate repellat impedit cupiditate earum, aut perferendis dolorum accusantium ipsum ab quos.
      .box.two.second-box
        
        div.div-having-content-of-features
          p.para-having-heading Multi-Calendars
          p.para-having-second-heading Lorem ipsum dolor, sit amet consectetur adipisicing.
          p.para-having-main-text-of-features Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima maiores expedita in error optio vel repudiandae?
          p.para-having-main-text-of-features Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae illum numquam facere ut repellat?
      .box.one.seventh-box
        
        div.div-having-content-of-features
            p.para-having-heading Secure
            p.para-having-second-heading Lorem ipsum dolor sit amet.
            p.para-having-main-text-of-features Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolore quisquam maxime vitae debitis quibusdam voluptatem temporibus, labore sint quasi?
                 
block script                
    script(src='/static/script/jquery.min.js', crossorigin='anonymous')
    script(src='/static/script/jquery-3.5.1.min.js')
    script(src='/static/script/bootstrap.min.js')
    script(src='/static/script/homeScript.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    script.
        AOS.init();